body { background: royalblue;
    color: maroon;
    font-size: 24pt; }
body { font-family: 'Centaur', sans-serif; }
h1{text-align: center}
p.p4 {text-indent: 60px}
p.p5 {text-indent: 60px}
p.p6{text-indent: 60px}
p.p7{text-indent: 60px}
